@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #010103;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    box-shadow: 0px 0px 33px -10px rgba(94, 94, 94, 1);
}


body {
    background-color: #010103;
    height: 100vh;
    color: #f3efef;
    font-family: 'Dosis', sans-serif;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

}

#connectWalletBtn {
    font-size: 24px;
    padding: 15px;
    background-color: #E84547;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #000000;
    transition: all 0.2s;
    border-style: solid;
    border-width: 2px;
    border-color: #E84547;

}

#connectWalletBtn:hover {
    background-color: #010103;
    color: #E84547;
    box-shadow: 0px 0px 34px 12px rgba(232, 69, 71, 1);
}

.inputFields {
    padding: 10px;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #1f1e1e;
    color: #b8b3b3;
}

#buyBtn {
    font-size: 24px;
    padding: 8px;
    background-color: #E84547;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #000000;
    transition: all 0.2s;
    border-style: solid;
    border-width: 2px;
    border-color: #E84547;
    margin-left: 10px;
}

#buyBtn:hover {
    background-color: #010103;
    color: #E84547;
    box-shadow: 0px 0px 34px 1px rgba(232, 69, 71, 1);
}

#sellBtn {
    font-size: 24px;
    padding: 8px;
    background-color: #ffc800;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #000000;
    transition: all 0.2s;
    border-style: solid;
    border-width: 2px;
    border-color: #ffc800;
    margin-left: 10px;

}

#sellBtn:hover {
    background-color: #010103;
    color: #ffc800;
    box-shadow: 0px 0px 34px 1px #ffc800;
}

.buySellContainer {
    border: 1px;
    border-style: solid;
    border-color: #3b1212;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.tokenViewContainer {
    text-align: center;

}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

@media screen and (max-width:700px) {
    .header {
        flex-direction: column;
    }

    #connectWalletBtn {
        margin-top: 60px;
    }
}

.simple-spinner {

    margin-top: 50px;
    width: 30px;
    height: 30px;

    transform: translate(-50%, -50%);
}

.simple-spinner span {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: rgba(255, 255, 255, 0.7);
    animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:460px) {
    form {
        flex-direction: column;
    }

    .inputFields {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.importTokensBtn {
    font-size: 12px;
    padding: 6px;
    margin-top: 20px;
    background-color: #09b43a;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #000000;
    transition: all 0.2s;
    border-style: solid;
    border-width: 2px;
    border-color: #09b43a;
    margin-left: 10px;
}

.importTokensBtn:hover {
    background-color: #010103;
    color: #09b43a;
    box-shadow: 0px 0px 34px 1px #09b43a;
}